In [1]:
#Tuple  is  a collection of items seperated by comma. It is similar to lists but Tuples are immutable

In [6]:
tup1 = (1,2,3,2,"hello")
tup1

(1, 2, 3, 2, 'hello')

In [7]:
tup1[0]

1

In [8]:
#tuples are immutable
tup1[0] = 'z'

TypeError: 'tuple' object does not support item assignment

In [18]:
# for only one item, add a comma
tup2 = ('dc')
tup2

'dc'

In [19]:
tup2 = ('dc',)
tup2

('dc',)

In [20]:
tup1+tup2

(1, 2, 3, 2, 'hello', 'dc')

In [22]:
lst = list(tup1)
lst

[1, 2, 3, 2, 'hello']

In [23]:
tup3 = tuple(lst)
tup3

(1, 2, 3, 2, 'hello')

In [24]:
# sets

In [25]:
# sets do not contain duplicate elements.

In [26]:
set1 = {1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [29]:
set1 = {1,2,3,4,1,2,3,4}
set1

{1, 2, 3, 4}

In [30]:
lst = [1,2,3,3,4,4]
lst

[1, 2, 3, 3, 4, 4]

In [31]:
set2 = set(lst)
set2

{1, 2, 3, 4}

In [32]:
set2.add(5)
set2

{1, 2, 3, 4, 5}

In [33]:
set2.add(4)
set2

{1, 2, 3, 4, 5}

In [35]:
set3 = {"a","b","c"}
set3

{'a', 'b', 'c'}

In [39]:
#to add two sets
set4 = set2.union(set3)
set4

{1, 2, 3, 4, 5, 'b', 'a', 'c'}

In [49]:
#to find intersection of two sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}
set3 = set1.intersection(set2)
set3

{3, 4}

In [51]:
set4 = set1.difference(set2)
set4

{1, 2}

In [46]:
set1 = {}
set1

{}

In [47]:
set1 = {}
set1

{}